<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-container">
        <div class="col-md-3">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Main Logo -->
                <!--/*/ <th:block th:include="fragments/fragment :: main-logo" /> /*/-->
            </div>
        </div>
        <div class="col-md-6">
            <div id="navbar" class="navbar-collapse collapse navbar-center">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/garage}">Garages</a></li>
                    <li><a th:href="@{/analytics/locate}">Search</a></li>
                    <!-- Settings Link -->
                    <!--/*/ <th:block th:include="fragments/fragment :: settings-link" /> /*/-->
                </ul>
                <!--
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search..."/>
                </form>
                -->
            </div>
        </div>
        <div class="col-md-3">
            <!-- Social Media Links -->
            <!--/*/ <th:block th:include="fragments/fragment :: social-media-links" /> /*/-->
        </div>
    </div>
</nav>

<div class="container-fluid main-container">

    <!-- Welcome User -->
    <!--/*/ <th:block th:include="fragments/fragment :: welcome-user" /> /*/-->

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h1 class="text-center" style="text-transform: uppercase;">Create Garage</h1>
            <hr/>
        </div>
    </div>

    <!-- Alerts -->
    <!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <form class="form-horizontal" id="create-garage-form" role="form" th:action="@{/settings/garage/create}" method="post" th:object="${garage}">
                <input type="hidden" id="id" th:value="${garage.garageKey}" th:field="${garage.garageKey}"/>

                <div class="form-group">
                    <label for="name" class="col-md-4 control-label">Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="name" required="required" th:field="${garage.name}"
                               placeholder="Garage Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-md-4 control-label">Description</label>
                    <div class="col-md-8">
                        <textarea rows="4" cols="50" class="form-control" id="description" th:field="${garage.description}"
                                  placeholder="Enter a description for the garage.">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="heightDescription" class="col-md-4 control-label">Height Description</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="heightDescription" th:field="${garage.heightDescription}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-md-4 control-label">Address</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="address" th:field="${garage.address}" placeholder="Enter the garage address" onFocus="getLocationByGPS()"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="latitude" class="col-md-4 control-label">Latitude</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="latitude" th:field="${garage.latitude}" readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="longitude" class="col-md-4 control-label">Longitude</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="longitude" th:field="${garage.longitude}" readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addressOne" class="col-md-4 control-label">Address One</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="addressOne" th:field="${garage.addressOne}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addressTwo" class="col-md-4 control-label">Address Two</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="addressTwo" th:field="${garage.addressTwo}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-md-4 control-label">City</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="city" th:field="${garage.city}"
                               placeholder="City"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="state" class="col-md-4 control-label">State</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="state" th:field="${garage.state}" pattern="^[A-Z]{2}$"
                               placeholder="Two uppercase letters abbreviating the State name" title="Two uppercase letters abbreviating the State name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zipCode" class="col-md-4 control-label">Zip Code</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="zipCode" th:field="${garage.zipCode}" pattern="^\d{5}$"
                               placeholder="Five digits" title="Five digits"/>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <a th:href="@{/settings/garage/index}" class="btn btn-primary" title="Back">Back</a>
                </div>
            </form>
        </div>
    </div>

    <br/>

    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<!-- Google Maps API Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: google-maps-scripts" /> /*/-->

<script>
var address;

function initAutocomplete() {
    address = new google.maps.places.Autocomplete((document.getElementById('address')), {types: ['geocode']});
    address.addListener('place_changed', getLocationByAddress);
}

function getLocationByAddress() {
    var place = address.getPlace();
    document.getElementById('latitude').value = address.getPlace().geometry.location.lat();
    document.getElementById('longitude').value = address.getPlace().geometry.location.lng();
}

function getLocationByGPS() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
                center: geolocation,
                radius: position.coords.accuracy
            });
            address.setBounds(circle.getBounds());

            document.getElementById('latitude').value = position.coords.latitude;
            document.getElementById('longitude').value = position.coords.longitude;
        });
    }
}
</script>

</body>
</html>