<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-container">
        <div class="col-md-3">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Main Logo -->
                <!--/*/ <th:block th:include="fragments/fragment :: main-logo" /> /*/-->
            </div>
        </div>
        <div class="col-md-6">
            <div id="navbar" class="navbar-collapse collapse navbar-center">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/garage}">Garages</a></li>
                    <li><a th:href="@{/analytics/locate}">Search</a></li>
                    <!-- Settings Link -->
                    <!--/*/ <th:block th:include="fragments/fragment :: settings-link" /> /*/-->
                </ul>
                <!--
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search..."/>
                </form>
                -->
            </div>
        </div>
        <div class="col-md-3">
            <!-- Social Media Links -->
            <!--/*/ <th:block th:include="fragments/fragment :: social-media-links" /> /*/-->
        </div>
    </div>
</nav>

<div class="container-fluid main-container">

    <!-- Welcome User -->
    <!--/*/ <th:block th:include="fragments/fragment :: welcome-user" /> /*/-->

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h1 class="text-center" style="text-transform: uppercase;">Garage Settings</h1>
            <hr/>
        </div>
    </div>

    <!-- Alerts -->
    <!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <p class="text-right">
                <a th:href="@{/settings/garage/create}" class="btn btn-success btn-sm" title="Create Garage">Create</a>
            </p>
            <table id="garageTable" class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="garage : ${garages}">
                    <td th:text="${garage.name}"></td>
                    <td th:text="${garage.lastUpdated}"></td>
                    <td>
                        <a th:href="@{/settings/garage/edit} + '/' + ${garage.garageKey}" class="btn btn-primary btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm delete-garage-button" title="Delete Garage" th:attr="data-id=${garage.garageKey},data-name=${garage.name}" data-toggle="modal" data-target="#delete-garage-modal">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br/>

    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>

<!-- Delete Garage Modal -->
<div class="modal fade" id="delete-garage-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" th:action="@{/settings/garage/delete}" method="post">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Garage</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Are you sure you want to delete the Garage '<span id="delete-garage-name-text"></span>'?</p>
                    <p class="text-center"><b>Warning:</b> This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="delete-garage-id" name="garageKey" required="required"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Delete Garage Modal -->

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<script th:inline="javascript">
$('.delete-garage-button').on('click', function()
{
    $('#delete-garage-name-text').text($(this).data("name"));
    $('#delete-garage-id').val($(this).data("id"));
});
</script>

</body>
</html>