<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->

    <style>
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-bottom: 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-container">
        <div class="col-md-3">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Main Logo -->
                <!--/*/ <th:block th:include="fragments/fragment :: main-logo" /> /*/-->
            </div>
        </div>
        <div class="col-md-6">
            <div id="navbar" class="navbar-collapse collapse navbar-center">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/garage}">Garages</a></li>
                    <li><a th:href="@{/analytics/locate}">Search</a></li>
                    <!-- Settings Link -->
                    <!--/*/ <th:block th:include="fragments/fragment :: settings-link" /> /*/-->
                </ul>
                <!--
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search..."/>
                </form>
                -->
            </div>
        </div>
        <div class="col-md-3">
            <!-- Social Media Links -->
            <!--/*/ <th:block th:include="fragments/fragment :: social-media-links" /> /*/-->
        </div>
    </div>
</nav>

<div class="container-fluid main-container">

    <!-- Welcome User -->
    <!--/*/ <th:block th:include="fragments/fragment :: welcome-user" /> /*/-->

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h1 class="text-center" style="text-transform: uppercase;" th:text="'Level ' + ${floor.number} + ' - ' + ${floor.description}"></h1>
            <h4 class="text-center" style="text-transform: uppercase;" th:text="${garage.name}"></h4>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-5 col-md-offset-1">
            <table class="table table-bordered table-centered">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Permit Type</th>
                        <th>Space Type</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="parkingSpace : ${parkingSpaces}">
                        <td th:text="${parkingSpace.number}"></td>
                        <td>
                            <select>
                                <option th:each="permitType : ${permitTypes}" th:if="${parkingSpace.permitTypeKey} == ${permitType.permitTypeKey}" th:text="${permitType.name}" selected="true"></option>
                                <option th:each="permitType : ${permitTypes}" th:unless="${parkingSpace.permitTypeKey} == ${permitType.permitTypeKey}" th:text="${permitType.name}"></option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option th:each="spaceType : ${spaceTypes}" th:if="${parkingSpace.spaceTypeKey} == ${spaceType.spaceTypeKey}" th:text="${spaceType.name}" selected="true"></option>
                                <option th:each="spaceType : ${spaceTypes}" th:unless="${parkingSpace.spaceTypeKey} == ${spaceType.spaceTypeKey}" th:text="${spaceType.name}"></option>
                            </select>
                        </td>
                        <td>
                            <label th:if="${parkingSpace.available}" class="switch">
                                <input type="checkbox" class="availabilityCheckbox" checked="checked" th:value="${parkingSpace.parkingSpaceKey}"/>
                                <span class="slider round"></span>
                            </label>
                            <label th:unless="${parkingSpace.available}" class="switch">
                                <input type="checkbox" class="availabilityCheckbox" th:value="${parkingSpace.parkingSpaceKey}"/>
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br/>

    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<script>
$(document).ready(function(){
    $(".availabilityCheckbox").change(function(){

        var parkingSpaceKey = $(this).val();

        if ($(this).prop('checked')) {
            $.post("/settings/parking_space/set_availability", { parkingSpaceKey: parkingSpaceKey, available: "true" })
                .done(function(data) {
                    //alert(data);
                });
        }
        else {
            $.post("/settings/parking_space/set_availability", { parkingSpaceKey: parkingSpaceKey, available: "false" })
                .done(function(data) {
                    //alert(data);
                });
        }
    });
});
</script>

</body>
</html>