<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->
<!-- Main Content -->
<div class="container-fluid main-container">
    <div class="row">
        <div class="parkodu-container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <h1 class="text-center main-header">Edit Event</h1>
            <hr/>
            <!-- Alerts -->
            <!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->
            <form class="form-horizontal" id="edit-event-form" role="form" th:action="@{/settings/events/edit}" method="post" th:object="${event}">
                <input type="hidden" id="id" th:value="${event.eventKey}" th:field="${event.eventKey}"/>
                <div class="form-group">
                    <label for="name" class="col-md-4 control-label">Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="name" required="required" th:field="${event.eventName}"
                               placeholder="Event Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="col-md-4 control-label">Message</label>
                    <div class="col-md-8">
                        <textarea rows="4" cols="50" class="form-control" id="message" th:field="${event.eventMessage}"
                                  placeholder="Enter a message for the event.">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Locations Effected</label>
                    <div class="col-md-8">
                        <select class="selectized" autocomplete="off" tabindex="" multiple="multiple" id="location-select" style="width: 94px; opacity: 1; position: relative; left: 0px;" placeholder="Select a location..."></select>
                        <div class="col-md-8 selectize-control multi demo-default">
                            <div class="selectize-input items has-options has-items not-full" th:field="${event.locationsEffected}">
                                <div class="selectize-dropdown multi demo-default" style="display: none; width: 364px; top: 36px; left: 0px; visibility: visible;">
                                    <div class="selectize-dropdown-content">
                                        <div class="option" data-selectable="" th:each="location : ${locations}" th:data-value="${location}" th:data-text="${location}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="effectiveDate" class="col-md-4 control-label">Becomes Effective</label>
                    <div class="col-md-8">
                        <input type="datetime-local" class="form-control" id="effectiveDate" th:field="${event.scheduledDateTime}" placeholder="Enter the time which the event will start" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="tags" class="col-md-4 control-label">Tags</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="tags" th:field="${event.eventTags}" placeholder="Enter tags associated with the event." />
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <a th:href="@{/settings/events/index}" class="btn btn-primary" title="Back">Back</a>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>
<!-- End Main Content -->

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<!-- Selectize Script -->
<!--/*/ <th:block th:include="fragments/fragment :: selectize-script" /> /*/-->

<script>
$('#location-select').selectize({
    maxItems: 10
});
</script>
</body>
</html>