<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
    <meta http-equiv="refresh" content="5"/>
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<!-- Main Content -->
<div class="container-fluid main-container">
    <div class="row">
        <div class="parkodu-container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <h1 class="text-center main-header">Garages</h1>
            <hr/>
            <table class="table table-bordered table-centered">
                <thead>
                    <tr>
                        <th width="40%">Garage</th>
                        <th width="30%">Available Spaces</th>
                        <th width="30%">Occupancy Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="garage : ${garages}">
                        <td style="text-align: left;"><a th:href="@{/garage/details} + '/' + ${garage.garageKey}" title="Garage Details" th:text="${garage.name}">Details</a></td>
                        <td th:text="${garage.availableSpaces}">Available Spaces</td>
                        <td th:text="${garage.capacity} + '%'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>
<!-- End Main Content -->

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

</body>
</html>