<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<!-- Main Content -->
<div class="container-fluid main-container">
    <div class="row">
        <div class="parkodu-container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div class="text-center main-header-container">
                <img th:src="@{/img/parkodu_logo.png}" alt="ParkODU Logo" title="ParkODU Logo" height="50"/>
                <h1 class="text-center main-header">Floor Statistics</h1>
            </div>
            <hr/>
            <!-- Alerts -->
            <!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->
            <th:block th:each="garage : ${garages}">
                <h4 th:text="${garage.name}"></h4>
                <ul>
                    <li th:each="floor : ${floors}" th:if="${floor.garageKey == garage.garageKey}">
                        <a th:href="@{/settings/floor_statistics/floor} + '/' + ${floor.floorKey}" th:text="'Level ' + ${floor.number} + ' - ' + ${floor.description}"></a>
                    </li>
                </ul>
            </th:block>
        </div>
    </div>
    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>
<!-- End Main Content -->

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<script th:inline="javascript">
/*<![CDATA[*/
	$.ajax({
		type: "GET",
		url: '../../events/notification',
		success: function(data) {
		    $('#notification-container').append(data);
		}
	});
/*]]>*/
</script>
</body>
</html>