<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Event Notifications</title>
</head>

<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<div class="container-fluid main-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h1 class="text-center" style="text-transform: uppercase;">Event Notification Settings</h1>
            <hr/>
        </div>
    </div>
    <!-- Alerts -->
    <!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <p class="text-right">
                <a th:href="@{/settings/eventNotification/create}" class="btn btn-success btn-sm" title="Create Event Notification">Create</a>
            </p>

        </div>
    </div>

    <br/>

    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>

<!-- Delete Garage Modal -->
<div class="modal fade" id="delete-garage-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" th:action="@{/settings/eventNotifications/delete}" method="post">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Event Notification</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Are you sure you want to delete the Event Notification '<span id="delete-eventNotifications-name-text"></span>'?</p>
                    <p class="text-center"><b>Warning:</b> This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="delete-garage-id" name="garageKey" required="required"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Delete Garage Modal -->

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<script th:inline="javascript">
$('.delete-garage-button').on('click', function()
{
    $('#delete-eventNotifications-name-text').text($(this).data("name"));
    $('#delete-eventNotifications-id').val($(this).data("id"));
});
</script>

</body>


</html>