<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<!-- Main Content -->
<div class="container-fluid main-container">
    <div class="row">
        <div class="parkodu-container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <h1 class="text-center main-header" th:text="${garage.name}"></h1>
            <hr/>
            <!-- Alerts -->
            <!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->
            <p class="text-right">
                <a th:href="@{/settings/floor/create} + '/' + ${garage.garageKey}" class="btn btn-success btn-sm" title="Create Floor">Create</a>
                <a th:href="@{/settings/floor/garage} + '/' + ${garage.garageKey}" class="btn btn-success btn-sm" title="Reload this page">Refresh</a>
            </p>
            <table id="garageFloorsTable" class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="floor : ${floors}">
                    <td th:text="${floor.number}"></td>
                    <td th:text="${floor.description}"></td>
                    <td th:text="${floor.lastUpdated}"></td>
                    <td>
                        <a th:href="@{/settings/floor/edit} + '/' + ${floor.floorKey}" class="btn btn-primary btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm delete-floor-button"
                                title="Delete Floor"
                                th:attr="data-id=${floor.floorKey},data-name=${floor.number}"
                                data-toggle="modal"
                                data-target="#delete-floor-modal">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>
<!-- End Main Content -->

<!-- Delete Garage Modal -->
<div class="modal fade" id="delete-floor-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" th:action="@{/settings/floor/delete}" method="post">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Floor</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Are you sure you want to delete Floor '<span id="delete-floor-name-text"></span>'?</p>
                    <p class="text-center"><b>Warning:</b> This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="delete-floor-id" name="floorKey" required="required"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Delete Garage Modal -->

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<script th:inline="javascript">
$('.delete-floor-button').on('click', function()
{
    $('#delete-floor-name-text').text($(this).data("name"));
    $('#delete-floor-id').val($(this).data("id"));
});
</script>

<script th:inline="javascript">
/*<![CDATA[*/
	$.ajax({
		type: "GET",
		url: '../../events/notification',
		success: function(data) {
		    $('#notification-container').append(data);
		}
	});
/*]]>*/
</script>
</body>
</html>