<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:id="'chart-' + ${chartId}" class="col-xs-12 col-sm-12 col-md-6">
    <div class="parkodu-container" style="padding-top: 5px;">
        <h2>FLOOR OCCUPANCY CHART</h2>
        <hr/>

        <p>GarageKey: <span th:text="${garage.name}"></span></p>
        <p>FloorNumber: <span th:text="${floorNumber}"></span></p>
        <p>Date: <span th:text="${date}"></span></p>

        <!-- PUT CHART HERE -->
        <canvas id="floorStatisticChart" width="800" height="300"></canvas>

        <button th:attr="data-id=${chartId}" class="btn btn-danger btn-sm delete-button">Delete</button>
    </div>
</div>
</body>

<!-- Chart.js Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: chart-js-scripts" /> /*/-->

<script th:inline="javascript">
/*<![CDATA[*/
//$(document).ready(function() {
    // FloorStatistics Chart
    var ctx = document.getElementById("floorStatisticChart");

    var floorNumber = /*[[${floorNumber}]]*/;
    var garageName = /*[[${garage.name}]]*/
    var title = garageName + ": Floor " + floorNumber;

    var dataString = /*[[${dataString}]]*/;
    //alert(dataString);
    var data = dataString.split(',');

    var labelString = /*[[${labelString}]]*/;
    //alert(labelString);
    var labels = labelString.split(',');

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: "Occupancy Rate (%)",
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            spanGaps: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            title: {
                display: true,
                text: title
            }
        }
    });
//});
/*]]>*/
</script>

</html>