<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<div class="container-fluid main-container" id="main">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Select a Garage and Date.</div>
            <div class="panel-body">
                <select class="form-control garageDropdown" id="garage" > <!--th:field="*{garageKey}"-->
                    <!-- <option th:each="garage : ${garages}"
                            th:text="${garage.name}"
                            th:value="${garage.garageKey}"
                            th:selected="(${garage.garageKey eq garage.garageKey})"
                            >
                    </option> -->
                </select>
                <input id="date" class="date" type="date" name="date" >Date</input> <!-- th:value="chart.date" -->
                <button  id="create" type="button" class="btn">Create</button>
            </div>
        </div>
    </div>

</div>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<!-- Chart.js Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: chart-js-scripts" /> /*/-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
/*
$(document).ready(function(){
    $(".date").change(function(){

        var date = $(this).val();

        $.post("methodGoesHere", {  })
                .done(function(data) {
                });
    });
});

$(document).ready(function(){
    $(".garageDropdown").change(function(){

        var garage = $(this).val();

        $.post("methodGoesHere", {  })
                .done(function(data) {
                });
    });
});

*/
</script>

<script>
/*<![CDATA[*/
$(document).ready(function(){
    $(".btn").click(function(){
        var i;
        for(i = 0; i < 5 ; i++){
            var div = document.createElement('div');
            document.getElementById("main").appendChild(div);
            div.id = "chart" + i;
            $("#chart" + i).load("http://localhost:8083/charts/chart");
        }
    });
});
/*]]>*/
</script>

<script th:inline="javascript">
/*<![CDATA[*/

//Loop through floors and create a div for each floor and add
//an appropriate chart via load from chart.html.

$(document).ready(function(){
    $(".btn").click(function(){

        var floors = /*[[${floors}]]*/;
        var x;
        var i = 0;
        for(x in floors){
            var div = document.createElement('div');
            document.getElementById("main").appendChild(div);
            //maybe modify style here
            div.id = "chart" + i;
            var floor = floors[i];
            $("#chart" + i).load("http://localhost:8083/charts/chart"); //$(selector).load(URL,data,callback);
            i = i + 1;
        };
    });
});
/*]]>*/
</script>

</body>
</html>