<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
<style>
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#map {
    float: left;
    width: 63%;
    height: 96%;
    margin-bottom: 50px;
}
#right-panel {
    float: right;
    width: 34%;
}
</style>
</head>
<body>
<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->
<div class="row" style="padding-top: 50px;">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        <h1 class="text-center main-header">Navigate</h1>
        <a id="TakeMeThere" target="_blank" class="btn btn-primary btn-sm align-right">Take Me There</a>

        <hr/>
    </div>
</div>
<!-- Alerts -->
<!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->
<div id="warnings-panel"></div>
<div id="map"></div>
<div id="right-panel"></div>
<!-- Footer -->
<!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->
<!-- Google Maps API Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: google-maps-scripts" /> /*/-->
<script th:inline="javascript" >
/*<![CDATA[*/
var geocode;
var map;
window.onload = function () {

    // testing purposes
    var startLat = /*[[${startingLocation.latitude}]]*/;
    var startLon = /*[[${startingLocation.longitude}]]*/;
    var destLat = /*[[${destination.latitude}]]*/;
    var destLon = /*[[${destination.longitude}]]*/;

    var markerArray = [];
    var div = document.getElementById('map');

     var latlng = new google.maps.LatLng(parseFloat(destLat),parseFloat(destLon));

    document.getElementById("TakeMeThere").onclick = function mapsSelector() {
    if /* if we're on iOS, open in Apple Maps */
        ((navigator.platform.indexOf("iPhone") != -1) ||
        (navigator.platform.indexOf("iPod") != -1) ||
        (navigator.platform.indexOf("iPad") != -1))
        window.open('maps://maps.google.com/maps?daddr=' + destLat + ',' + destLon + '&amp;sll='+startLat + ',' + startLon);

    else /* else use Google */
        window.open('https://maps.google.com/maps?daddr=' + destLat + ',' + destLon + '&amp;sll='+startLat + ',' + startLon);
    }


    var mapOptions = {
        zoom: 15,
        center: latlng,
    };

    map = new google.maps.Map(div, mapOptions);

    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer({map: map,
        panel: document.getElementById('right-panel'),
        draggable: true
    });

    var stepDisplay = new google.maps.InfoWindow;

    // Display the route between the initial start and end selections.
    calculateAndDisplayRoute(directionsDisplay, directionsService, markerArray, stepDisplay, map);

    directionsDisplay.addListener('directions_changed', function() {
        computeTotalDistance(directionsDisplay.getDirections());
    });
}

function calculateAndDisplayRoute(directionsDisplay, directionsService,
    markerArray, stepDisplay, map) {
    // First, remove any existing markers from the map.
    for (var i = 0; i < markerArray.length; i++) {
        markerArray[i].setMap(null);
    }

    // Retrieve the start and end locations and create a DirectionsRequest using
    // DRIVING directions.

    var startlat = /*[[${startingLocation.latitude}]]*/;
    var startlon = /*[[${startingLocation.longitude}]]*/;
    var destlat = /*[[${destination.latitude}]]*/;
    var destlon = /*[[${destination.longitude}]]*/;

    var dirOrig = new google.maps.LatLng(parseFloat(startlat),parseFloat(startlon));
    var dirDest = new google.maps.LatLng(parseFloat(destlat),parseFloat(destlon));

    directionsService.route({

        origin: dirOrig,
        destination: dirDest,
        travelMode: 'DRIVING'

    }, function(response, status) {
        // Route the directions and pass the response to a function to create
        // markers for each step.
        if (status === 'OK') {
            document.getElementById('warnings-panel').innerHTML =
            '<b>' + response.routes[0].warnings + '</b>';
            directionsDisplay.setDirections(response);
            showSteps(response, markerArray, stepDisplay, map);
        } else {
            window.alert('Directions request failed due to ' + status);
        }
    });
}

function showSteps(directionResult, markerArray, stepDisplay, map) {
    // For each step, place a marker, and add the text to the marker's infowindow.
    // Also attach the marker to an array so we can keep track of it and remove it
    // when calculating new routes.
    var myRoute = directionResult.routes[0].legs[0];
    for (var i = 0; i < myRoute.steps.length; i++) {
        var marker = markerArray[i] = markerArray[i] || new google.maps.Marker;
        marker.setMap(map);
        marker.setPosition(myRoute.steps[i].start_location);
        attachInstructionText(
      stepDisplay, marker, myRoute.steps[i].instructions, map);
    }
}

function attachInstructionText(stepDisplay, marker, text, map) {
    google.maps.event.addListener(marker, 'click', function() {
        // Open an info window when the marker is clicked on, containing the text
        // of the step.
        stepDisplay.setContent(text);
        stepDisplay.open(map, marker);
    });
}
/*]]>*/
</script>
<script th:inline="javascript">
/*<![CDATA[*/
	$.ajax({
		type: "GET",
		url: '../../events/notification',
		success: function(data) {
		    var notificationListItem = $('<div>', {
		        id: 'notification-list-item',
		        'class': ''
		    });
		    $(notificationListItem).append(data);
		    $('#notification-container').append(notificationListItem);
		}
	});
/*]]>*/
</script>
</body>
</html>
