<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!--
    <link rel="icon" href="../../favicon.ico"/>
    -->

    <title>ParkODU</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- ParkODU Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/parking.css}"/>

</head>

<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<div class="container-fluid main-container">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a th:href="@{/garage}">Garages <span class="sr-only">(current)</span></a></li>
                <!--
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
                -->
            </ul>
            <!--
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
            -->
        </div>
        <div class="col-sm-9 col-md-10 main">
            <h1 th:text="${garage.name}"></h1>
            <h4 th:text="'Floor ' + ${floor.number} + ': ' + ${floor.description}"></h4>
            <hr/>

            <canvas id="floorStatisticChart" width="400" height="150"></canvas>

            <p>Note: The table below is used only for testing purposes.</p>
            <div class="row">
                <table class="table table-bordered table-centered">
                    <tr>
                        <th>FloorStatisticKey</th>
                        <th>Capacity</th>
                        <th>Timestamp</th>
                    </tr>
                    <tr th:each="floorStatistic : ${floorStatistics}">
                        <td th:text="${floorStatistic.floorStatisticKey}"></td>
                        <td th:text="${floorStatistic.capacity}"></td>
                        <td th:text="${floorStatistic.timestamp}"></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

<footer class="footer">
    <p>&copy; 2017 ParkODU</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>

<script th:inline="javascript">
/*<![CDATA[*/
window.onload = function() {
var ctx = document.getElementById("floorStatisticChart");

var dataString = /*[[${dataString}]]*/;
var data = dataString.split(',');

var labelString = /*[[${labelString}]]*/;
var labels = labelString.split(',');

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: '% Capacity',
            data: data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}
/*]]>*/
</script>

</body>
</html>
