<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<div class="container-fluid main-container">

    <div class="row">
        <div class="parkodu-container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <div class="text-center main-header-container">
                <h1 class="text-center main-header">500: Our Servers Did Not Like That.</h1>
                <h1 class="text-center main-header">Make sure you are using a valid address!</h1>
                <img th:src="@{/img/500.png}" alt="Five Hundred Error, Piled Up Cars" title="500" class="responsive"/>
            </div>
        </div>
    </div>

</div>

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->

<script>

$.ajax({
    type: "GET",
    url: 'events/notification',
    success: function(data) {
        $('#notification-container').append(data);
    }
});

</script>


<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<!--Event Script-->
<!--/*/ <th:block th:include="fragments/fragment :: event-script" /> /*/-->

</body>
</html>