.main-container {
    margin-top: 50px;
}

html {
    position: relative;
    min-height: 100%
}

body {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}

footer p {
    text-align: center;
	margin-top: 10px;
}

.table-centered th,
.table-centered td {
    text-align: center;
}

.last-updated {
    text-align: right;
    margin-top: -15px;
}

.panel-heading h4 {
    margin: 0;
    text-align: center;
}

.navbar-brand {
    color: yellow;
}

// Social Media Links

.fa-facebook {
    background-color: rgba(59, 89, 152, 1);
    color: white;
}

.fa-instagram {
    background-color: rgba(18, 86, 136, 1);
    color: white;
}

.fa-pinterest {
    background-color: #cb2027;
    color: white;
}

.fa {
    padding: 7px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.social {
    text-align: right;
    margin-top: 5px;
    margin-right: -10px;
}

.facebook-icon {
	background-color: rgba(59, 89, 152, 1);
	color: white;
}

.instagram-icon {
	background-color: rgba(18, 86, 136, 1);
	color: white;
}

.etsy-icon {
	background-color: white;
	border: 1px solid rgba(244, 88, 0, 1);
	color: rgba(244, 88, 0, 1);
}

// End Social Media Links


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 50px;
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.item-main-image {
    border: 1px solid black;
    max-width: 100%;
}

// navbar

.main-navbar {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.nav > li > a:focus, .nav > li > a:hover {

}

.nav li a {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.gold-text {
	font-size: 1.2em;
	color: #8c6c46;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1em;
}

.submenu {
	margin-top: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(255, 235, 235, 1);
	border-bottom: 1px solid #8c6c46;
	//min-height: 30px;
	display: block;
}

.submenu-text {
	font-size: 0.8em;
	color: #8c6c46;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding-left: 5px;
	padding-right: 5px;
}

.modal-text {
	font-size: 0.8em;
	color: #8c6c46;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding-left: 5px;
	padding-right: 5px;
}

.submenu-text:hover {
	color: rgba(98, 76, 50, 1);
}

.carousel-container {
	margin-top: 50px;
}

.navbar-white {
	background-color: #ffffff;
	opacity: 0.96;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}


.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
	//margin-left: 15px;
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
	background-color: green;
	width: 50%;
}

@media only screen and (max-width: 992px) {
    .col {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .submenu {
		margin-top: 96px;
	}
}

.navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar-center {
	text-align: center;
}

.navbar-container {
	margin: 0;
	background-color: #ffffff;
	border-bottom: 1px solid #8c6c46;
}

.navbar-default .navbar-nav > li > a {
	//color: gold;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Times New Roman", Times, serif;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	//color: black;
	//background-color: gold;
}

.navbar-default .navbar-nav > li > a:hover {
	//color: gold;
	cursor: pointer;
	text-decoration: underline;
}

.navbar-default .navbar-nav > active > a:hover {
	text-decoration: none;
}

.active > a {
    font-weight: 675;
    text-decoration: underline;
}

.submenu-active {
    font-weight: 775;
    text-decoration: underline;
}

.gallery-image-container {
	border-radius: 0;
	border-color: #8c6c46;
}

.brown-border {
	border: 1px solid #8c6c46;
}

.social-media-links-container {
	margin-top: 7px;
	margin-right: 0px;
	float: right;
}

.hr-gold {
	border-top: 1px solid #8c6c46;
}

.logout-button {
     background: none!important;
     border: none;
     padding: 0!important;
     cursor: pointer;
}

.modal-header {
    padding: 10px;
    max-height: 55px;
    text-align: center;
}

.modal-footer {
    padding: 10px;
    max-height: 55px;
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%)
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%)
}

.carousel-control.right:hover, .carousel-control.right:focus {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%)
}

.carousel-control.left:hover, .carousel-control.left:focus {
    background-image: -webkit-linear-gradient(right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%)
}

.carousel-indicators {
    bottom: -30px;
    background-color: #000000;
    left: 30%;
    width: 100%;
}

.hashtag:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

.icon-button {
    padding: 3px 6px 0px 6px;
    margin-top: 5px;
}

.icon-container-right {
    margin: 0;
    display: block;
    text-align: right;
}

.margin-none {
    margin: 0;
}

#trigger-upload {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

.upload-back-button {
    background-color: #00ABC7;
    padding: 7px 20px;
    border-radius: 2px;
    margin-left: 10px;
}

.bordered-image {
    width: 100%;
    border: 1px solid #8c6c46;
}

.cursor-pointer {
    cursor: pointer;
}

.light-gray {
    color: #ccc;
}

/***** Custom Radio Button *****/

/* The radio-container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 45%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/***** Fine Uploader *****/
#trigger-upload {
    color: white;
    background-color: #00ABC7;
    font-size: 14px;
    padding: 7px 20px;
    background-image: none;
}

#fine-uploader-manual-trigger .qq-upload-button {
    margin-right: 15px;
}

#fine-uploader-manual-trigger .buttons {
    width: 36%;
}

#fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
    width: 60%;
}