<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<div>
    <p>Static Chart</p>
    <p th:text="${id}"></p>
    <p th:text="${valueOne}"></p>
    <p th:text="${valueTwo}"></p>
    <div id="chart-one-container" class="chartjs-wrapper">
        <canvas id="chart-one" class="chartjs" width="100px" height="80px"></canvas>
    </div>
</div>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<!-- Chart.js Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: chart-js-scripts" /> /*/-->

<script th:inline="javascript">
// <![CDATA[
new Chart(document.getElementById("chart-one"),
{
	"type": "line",
	"data": {
		"labels": ["9am","10am","11am","12pm","1pm"],
		"datasets": [
			{
				"label": "Garage A",
				"data": [57,65,73,80,85],
				"fill": false,
				"borderColor": "rgb(75, 192, 192)",
				"lineTension": 0.1
			}
		]
	},
	"options": {
		"scales": {
			"xAxes": [{
				"display": true,
				"scaleLabel": {
					"display": true,
					"labelString": "Time"
				}
			}],
			"yAxes": [{
				"display": true,
				"scaleLabel": {
					"display": true,
					"labelString": "Garage Occupancy"
				}
			}]
		}
	}
});
// ]]>
</script>

</body>
</html>