<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<div class="container-fluid main-container">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Select a Garage and Date.</div>
            <div class="panel-body">
                <select class="form-control garageDropdown" id="garage" th:field="*{garageKey}">
                    <option th:each="garage : ${garages}"
                            th:text="${garage.name}"
                            th:value="${garage.garageKey}"
                            th:selected="(${garage.garageKey eq garage.garageKey})"
                            >
                    </option>
                </select>
                <input id="date" class="date" type="date" name="date" th:value="chart.date">
                <button id="create" type="button" class="btn">Create</button>
            </div>
        </div>
    </div>

</div>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<!-- Chart.js Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: chart-js-scripts" /> /*/-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $(".date").change(function(){

        var date = $(this).val();

        $.post("methodGoesHere", {  })
                .done(function(data) {
                });
    });
});

$(document).ready(function(){
    $(".garageDropdown").change(function(){

        var garage = $(this).val();

        $.post("methodGoesHere", {  })
                .done(function(data) {
                });
    });
});




</script>

<script th:inline="javascript">
/*<![CDATA[*/

//Loop through floors and create a div for each floor and add
//an appropriate chart via post request to chart.html.

$(document).ready(function(){
    $(".create").onclick(function(){

        var floors = /*[[${floors}]]*/;
        var x;
        var i = 0;
        for(x in floors){
            var div = document.createElement('div');
            document.body.appendChild(div);
            //maybe modify style here
            div.id = 'chart' + i;
            var floor = floors[i];
            $.post("chart.html",
            {
                garage: /*[[${garage}]]*/
                floor: floor
                date: /*[[${date}]]*/
            },
            function(result){
                $("chart" + i).html(result);
            });
            i = i + 1;
        };
    });
});
/*]]>*/
</script>

</body>
</html>