<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<!-- Main Content -->
<div class="container-fluid main-container">
    <div class="row">
        <div class="parkodu-container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h1 class="text-center main-header">Search</h1>
            <hr/>
            <form class="form-horizontal" th:action="@{/analytics/locate}" method="POST">

                <input type="hidden" name="latitude" id="latitude" />
                <input type="hidden" name="longitude" id="longitude" />

                <div class="form-group">
                    <label for="startingAddress" class="control-label col-md-4">Starting Location</label>
                    <div class="col-md-8">
                        <input type="text" name="startingAddress" id="startingAddress" placeholder="Enter your starting address" onFocus="getLocationByGPS()" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Permit Types</label>
                    <div class="col-md-8">
                        <div th:each="permitType : ${permitTypes}">
                            <input
                                    name="permitTypeKeys"
                                    type="checkbox"
                                    th:id="${permitType.permitTypeKey}"
                                    th:value="${permitType.permitTypeKey}"
                                    th:checked="${preferredPermitTypes.contains(permitType.permitTypeKey)}"/>
                            <label th:for="${permitType.permitTypeKey}" th:text="${permitType.name}"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Space Types</label>
                    <div class="col-md-8">
                        <div th:each="spaceType : ${spaceTypes}">
                            <input
                                    name="spaceTypeKeys" type="checkbox"
                                    th:id="${spaceType.spaceTypeKey}"
                                    th:value="${spaceType.spaceTypeKey}"
                                    th:checked="${preferredSpaceTypes.contains(spaceType.spaceTypeKey)}"/>
                            <label th:for="${spaceType.spaceTypeKey}" th:text="${spaceType.name}"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="minSpacesAvail" class="control-label col-md-4">Minimum Available Spaces</label>
                    <div class="col-md-2">
                        <input name="minSpaces" id="minSpacesAvail" type="number" class="form-control" min="0" max="50" value="0"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="destinationBuildingId" class="control-label col-md-4">Destination Building</label>
                    <div class="col-md-8">
                        <select name="destinationBuildingId" id="destinationBuildingId" class="form-control">
                            <option th:each="building : ${buildings}" th:value="${building.buildingKey}" th:text="${building.name}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <input type="submit" value="Search" class="btn btn-primary" />
                        <input type="reset" value="Reset" class="btn btn-primary" />
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>
<!-- End Main Content -->

<script>
var startingAddress;

function initAutocomplete() {
    startingAddress = new google.maps.places.Autocomplete((document.getElementById('startingAddress')), {types: ['geocode']});
    startingAddress.addListener('place_changed', getLocationByAddress);
}

function getLocationByAddress() {
    var place = startingAddress.getPlace();
    document.getElementById('latitude').value = startingAddress.getPlace().geometry.location.lat();
    document.getElementById('longitude').value = startingAddress.getPlace().geometry.location.lng();
}

function getLocationByGPS() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
                center: geolocation,
                radius: position.coords.accuracy
            });
            startingAddress.setBounds(circle.getBounds());

            document.getElementById('latitude').value = position.coords.latitude;
            document.getElementById('longitude').value = position.coords.longitude;
        });
    }
}
</script>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<!-- Google Maps API Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: google-maps-scripts" /> /*/-->

</body>
</html>