<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-container">
        <div class="col-md-3">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Main Logo -->
                <!--/*/ <th:block th:include="fragments/fragment :: main-logo" /> /*/-->
            </div>
        </div>
        <div class="col-md-6">
            <div id="navbar" class="navbar-collapse collapse navbar-center">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/garage}">Garages</a></li>
                    <li><a th:href="@{/analytics/locate}">Search</a></li>
                    <!-- Settings Link -->
                    <!--/*/ <th:block th:include="fragments/fragment :: settings-link" /> /*/-->
                </ul>
                <!--
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search..."/>
                </form>
                -->
            </div>
        </div>
        <div class="col-md-3">
            <!-- Social Media Links -->
            <!--/*/ <th:block th:include="fragments/fragment :: social-media-links" /> /*/-->
        </div>
    </div>
</nav>

<div class="container-fluid main-container">

    <!-- Welcome User -->
    <!--/*/ <th:block th:include="fragments/fragment :: welcome-user" /> /*/-->

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h1 class="text-center" style="text-transform: uppercase;">Search Results</h1>
            <hr/>
            <dl class="dl-horizontal">
                <dt>Starting Address</dt>
                <dd id="startingAddress-location" th:text="${startingAddress}"></dd>
                <dt>Permit Types</dt>
                <dd>
                    <th:block th:each="permitType : ${permitTypes}">
                        <span th:text="${permitType.name}"></span>
                        <br/>
                    </th:block>
                </dd>
                <dt>Destination Building</dt>
                <dd th:text="${destinationBuilding.name}"></dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <p class="text-right">
                <a th:href="@{/analytics/locate}" class="btn btn-primary">New Search</a>
            </p>
            <table class="table table-bordered table-centered">
                <thead>
                    <tr>
                        <th rowspan="2" width="36%">Garage</th>
                        <th rowspan="2" width="8%">Available Spaces</th>
                        <th colspan="2" width="16%">Starting Address to Garage (Driving)</th>
                        <th colspan="2" width="16%">Garage to Destination Building (Walking)</th>
                        <th rowspan="2" width="8%">Total Distance</th>
                        <th rowspan="2" width="8%">Total Travel Time</th>
                        <th rowspan="2" width="8%">Arrival Time</th>
                    </tr>
                    <tr>
                        <th width="8%">Distance</th>
                        <th width="8%">Travel Time</th>
                        <th width="8%">Distance</th>
                        <th width="8%">Travel Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="recommendation : ${recommendations}">
                        <td style="text-align: left;">
                            <a th:href="@{/maps/navigate} + '?latitude=' + ${startingLatitude} + '&amp;longitude=' + ${startingLongitude} + '&amp;destination=' + ${recommendation.garage.garageKey}" class="btn btn-primary btn-sm align-right">Navigate</a>
                            <a th:href="@{/garage/details} + '/' + ${recommendation.garage.garageKey}" th:text="${recommendation.garage.name}"></a>
                        </td>
                        <td th:text="${recommendation.availabilityCount}"></td>
                        <td th:text="${recommendation.startingAddressToGarageDistanceText}"></td>
                        <td th:text="${recommendation.startingAddressToGarageDurationText}"></td>
                        <td th:text="${recommendation.garageToDestinationBuildingDistanceText}"></td>
                        <td th:text="${recommendation.garageToDestinationBuildingDurationText}"></td>
                        <td th:text="${recommendation.totalDistanceText}"></td>
                        <td th:text="${recommendation.totalDurationText}"></td>
                        <td th:text="${#dates.format(recommendation.getArrivalTime(), 'hh:mm a')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br/>

    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<script th:inline="javascript">
$('.navigate-button').on('click', function()
{
    $('#navigate-id').val($(this).data('startingAddress'));

});
</script>
</body>
</html>