<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid navbar-container">
        <div class="col-md-3">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Main Logo -->
                <!--/*/ <th:block th:include="fragments/fragment :: main-logo" /> /*/-->
            </div>
        </div>
        <div class="col-md-6">
            <div id="navbar" class="navbar-collapse collapse navbar-center">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/garage}">Garages</a></li>
                    <li><a th:href="@{/analytics/locate}">Search</a></li>
                    <!-- Settings Link -->
                    <!--/*/ <th:block th:include="fragments/fragment :: settings-link" /> /*/-->
                </ul>
                <!--
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search..."/>
                </form>
                -->
            </div>
        </div>
        <div class="col-md-3">
            <!-- Social Media Links -->
            <!--/*/ <th:block th:include="fragments/fragment :: social-media-links" /> /*/-->
        </div>
    </div>
</nav>

<div class="container-fluid main-container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h1 class="text-center" style="text-transform: uppercase;">Configure Space Types</h1>
            <h4 class="text-center" style="text-transform: uppercase;">Add, remove, and create space types here</h4>
            <hr/>
        </div>
    </div>

    <!-- Welcome User -->
    <!--/*/ <th:block th:include="fragments/fragment :: welcome-user" /> /*/-->

    <div class="row">
        <div class="col-sm-8 col-md-8 col-sm-6 col-md-offset-1">
            <p class="text-left">
                <a href="" class="btn btn-success btn-sm" title="Create Space Type">Create</a>
            </p>
            <table class="table table-bordered table-centered">
                <thead>
                <tr>
                    <th>Space Type</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="spaceType : ${spaceTypes}">
                    <td>
                        <input class="form-control spaceName" type="text" th:value="${spaceType.name}" />
                    </td>
                    <td>
                        <textarea class="form-control permitDescription" cols="40" rows="1" wrap="soft" th:text="${spaceType.description}" />
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                title="Delete Space Type">Delete</button>
                                <!--th:attr="data-id=${parkingSpace.parkingSpaceKey},data-name=${parkingSpace.number}" -->
                                <!-- data-toggle="modal" -->
                                <!-- data-target="#delete-parkingSpace-modal" -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br/>

    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

</body>
</html>