<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->
<div class="container-fluid main-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h1 class="text-center" style="text-transform: uppercase;">Settings</h1>
            <hr/>
        </div>
    </div>
    <!-- Alerts -->
    <!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h2 style="text-transform: uppercase;">Facility Management</h2>
            <ul>
                <li><a th:href="@{/settings/garage}">Configure Garages</a></li>
                <li><a th:href="@{/settings/floor}">Configure Floors</a></li>
                <li><a th:href="@{/settings/parking_space}">Configure Parking Spaces</a></li>
                <li><a th:href="@{/settings/permit_type/index}">Configure Permit Types</a></li>
                <li><a th:href="@{/settings/space_type/index}">Configure Space Types</a></li>
            </ul>
            <h2 style="text-transform: uppercase;">Account Management</h2>
            <ul>
                <li><a th:href="@{/settings/accounts}">Accounts</a></li>
            </ul>
            <h2 style="text-transform: uppercase;">Event Management</h2>

        </div>
    </div>
    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

</body>
</html>
