<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<!-- Main Content -->
<div class="container-fluid main-container">
    <div class="row">
        <div class="parkodu-container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-4" style="padding-bottom: 30px; margin-top: 130px;">

            <div class="text-center" style="margin-bottom: 15px; margin-top: 15px;">
                <img th:src="@{/img/odupark_logo_02.png}" alt="ParkODU Logo" title="ParkODU Logo" height="100"/>
            </div>

            <!-- Alerts -->
            <!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->

            <form autocomplete="off" th:action="@{/login}" method="post" class="m-t" role="form" data-toggle="validator">

                <div class="form-group input-group has-feedback" style="width: 100%">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" id="username" name="username" placeholder="Username" class="form-control" required="false" />
                    <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
                </div>

                <div class="form-group input-group has-feedback" style="width: 100%">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" id="password" name="password" placeholder="Password" class="form-control" required="false" />
                    <span class="glyphicon form-control-feedback " aria-hidden="true"></span>
                </div>

                <input type="submit" value="Login" class="btn btn-primary" style="width: 100%"/>

            </form>
        </div>
    </div>
    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>
<!-- End Main Content -->

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

</body>
</html>
