<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Head -->
    <!--/*/ <th:block th:include="fragments/fragment :: head" /> /*/-->
</head>
<body>

<!-- Navigation Bar -->
<!--/*/ <th:block th:include="fragments/fragment :: navigation-bar" /> /*/-->

<div class="container-fluid main-container">
    <div class="row">
        <div class="parkodu-container col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <h1 class="text-center main-header">Edit User</h1>
            <hr/>
            <!-- Alerts -->
            <!--/*/ <th:block th:include="fragments/fragment :: alerts" /> /*/-->
            <form class="form-horizontal" id="edit-user-form" role="form" th:action="@{/settings/accounts/edit}" method="post" th:object="${user}">
                <input type="hidden" id="id" th:value="${user.userKey}" th:field="${user.userKey}"/>
                <div class="form-group">
                    <label for="userFirstName" class="col-md-4 control-label">First Name</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control col-md-4" id="userFirstName" required="required" th:field="${user.firstName}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userlastName" class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control col-md-4" id="userLastName" th:field="${user.lastName}"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userEmail" class="col-md-4 control-label">Email</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" id="userEmail" th:field="${user.email}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userUserName" class="col-md-4 control-label">Username</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" id="userUserName" th:field="${user.username}" readonly="readonly"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Enabled</label>
                    <div class="col-md-4">
                        <select type="text" class="form-control" th:field="${user.enabled}">
                            <th:block th:if="${user.enabled}">
                                <option value="true" selected="selected">true</option>
                                <option value="false">false</option>
                            </th:block>
                            <th:block th:if="${user.enabled eq false}">
                                <option value="true">true</option>
                                <option value="false" selected="selected">false</option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Permissions</label>
                    <div class="col-md-8">
                        <th:block th:if="${user.getPermissions().contains('ADMIN')}">
                            <input id="isAdmin1" name="isAdmin" type="checkbox" value="true" checked="checked"/>
                            <label for="isAdmin1">Admin</label>
                        </th:block>
                        <th:block th:if="!${user.getPermissions().contains('ADMIN')}">
                            <input id="isAdmin2" name="isAdmin" type="checkbox" value="true"/>
                            <label for="isAdmin2">Admin</label>
                        </th:block>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <a th:href="@{/settings/accounts/index}" class="btn btn-primary" title="Back">Back</a>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <!--/*/ <th:block th:include="fragments/fragment :: footer" /> /*/-->
</div>

<!-- Scripts -->
<!--/*/ <th:block th:include="fragments/fragment :: scripts" /> /*/-->

<script th:inline="javascript">
/*<![CDATA[*/
	$.ajax({
		type: "GET",
		url: '../../../events/notification',
		success: function(data) {
		    var notificationListItem = $('<div>', {
		        id: 'notification-list-item',
		        'class': ''
		    });
		    $(notificationListItem).append(data);
		    $('#notification-container').append(notificationListItem);
		}
	});
/*]]>*/
</script>

</body>
</html>